/* .contenedorheader {
  padding: 20px;
  background-color: var(--fondo);
  display: flex;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

li {
  list-style: none;
  font-size: 1.125rem;
}

.link {
  text-decoration: none;
  display: flex;
  gap: 5px;
  padding: 10px 5px;
  border-radius: 8px;
  background-color: var(--primario);
  color: #e2e2e2;
  transition: background-color 0.3s ease;
}

.link.active,
.link:hover {
  background-color: var(--primario-oscuro);
  font-weight: 600;
  color: #fff;
}

.titulo {
  color: #fff;
}
@media (max-width: 768px) {
  li {
    margin-bottom: 5px;
  }
} */

.navbar {
  color: white;
}
